<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjemmeside, på den nemme måde</title>   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
        <a href='@Url.Action("Index", "Home")' class="navbar-brand"><img src="~/Content/img/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                        @Html.ActionLink("HJEMMESIDE", "Index", "Home") 
                </li>
                <li class="nav-item">
                        @Html.ActionLink("WEBSHOP", "About", "Home")
                </li>
                <li class="nav-item">
                        @Html.ActionLink("OFFICE 365", "Contact", "Home")

                </li>
                <li class="nav-item">
                        @Html.ActionLink("KONTAKT", "Contact", "Home") 
                </li>
            </ul>
        </div>
        </div>
    </nav>
    
    <div class="jumbotron">
        <div class="container">

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Renew ApS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
